body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.container {
  /* width: 1158px; */
  max-width: 320px;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-left: 16px;
  padding-right: 16px;

  margin: 0 auto;
}

/*               header                      */

.header {
  border-bottom: 1px solid #e7e9fc;
  /* padding-top: 24px;
  padding-bottom: 24px; */

  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  padding: 16px;
  display: flex;
  align-items: center;
}
.header-navigation {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.header-logo span {
  color: #2e2f42;
}
.current {
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
/* .header-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.header-span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
} */
.header-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
}
.header-menu-list {
  gap: 40px;
  /* display: flex; */
  display: none;
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.header-menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-menu-link::after {
}
.header-comtact-list {
  /* display: flex; */
  display: none;
  gap: 40px;
}
.header-comtact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-comtact-link:hover,
.header-comtact-link:focus {
  color: #404bbf;
}
.header-button {
  display: block;
  margin-left: auto;
  margin-top: auto;
  border: none;
  background-color: #fff;
}
.header-button-icon {
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100%;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mob-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
}
.mob-icon {
}
.mob-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.mob-menu-item {
}

.current {
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
}
.mob-menu-link:hover {
  color: #404bbf;
}

.mob-comtact {
  margin-bottom: 48px;
}
.mob-comtact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.mob-comtact-item:hover {
}
.mob-comtact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-comtact-link:hover {
  color: #4d5ae5;
}
.mob-comtact-list {
}
.mob-comtact-item {
}
.mob-comtact-link {
}
.mob-social-icons {
  display: flex;
  gap: 24px;
}
.mob-list-item-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Змінив властивість transition */
}
.mob-icons-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--maim-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icons-link:hover {
  background-color: #404bbf;
}
.mob-icons {
  fill: #f4f4fd;
}
.mob-icons:focus {
  background-color: #404bbf;
}

/*               hero                      */

.hero {
  margin: 0 auto;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding: 72px 52px;
}
.hero-wrap {
}
.hero-title {
  margin: 0 auto;
  /* margin-bottom: 48px; */
  margin-bottom: 72px;
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  /* width: 216px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.hero-btn {
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  display: block;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*               advantages                      */

.advantages {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0 96px 0;
}

.advantages-list-icon {
  /* display: flex; */
  display: none;
  gap: 24px;
  margin-bottom: 8px;
}
.advantages-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.advantages-item-icon {
  width: 264px;
  height: 112px;
}
.advantages-icon {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-title {
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* gap: 24px; */
  gap: 72px;
}
.advantages-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  width: 100%;
}
.advantages-item-title {
  text-align: center;
  /* font-weight: 500; */
  font-weight: 700;
  /* font-size: 20px; */
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-item-text {
  /* max-width: 264px; */
  max-width: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*               team                      */

.team {
  align-items: center;
  background-color: #f4f4fd;
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 28px;
}
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team-wrap {
  padding-bottom: 32px;
  background-color: #fff;
  margin-bottom: 72px;
}
.team-wrap:last-of-type {
  margin-bottom: 0;
}
.team-list {
  /* gap: 24px; */
  gap: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-information {
  padding: 32px 0;
}

/* .team-information {
  width: 320px;
  padding: 32px 0;
} */
.team-list-item {
  /* width: calc((100% - 24px * 3) / 4); */
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-images {
  margin: 0 auto;
  /* margin-bottom: 32px; */
}
.team-name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-specifics {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-social-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.team-icons {
  fill: #f4f4fd;
}
.team-icons:focus {
  background-color: #404bbf;
}
:root {
  --main-color: #4d5ae5;
}
.team-icons-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--maim-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover {
  background-color: #404bbf;
}
.team-icons-link:focus {
  background-color: #404bbf;
}
.team-list-item-icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Змінив властивість transition */
}
.team-list-item-icons:hover {
  background-color: #31d0aa;
}
/*               portfolio                      */

.portfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-categori {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e7e9fc;
  z-index: -1;
}
.portfolio-item img {
  display: block;
  width: 100%;
  position: relative;
}
.portfolio-images {
}
.portfolio-cover-wrap {
  overflow: hidden;
  position: relative;
}
.portfolio-cover-text {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  padding: 40px 32px;
}
.portfolio-images-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-images-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*               footer                      */

.footer {
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-left: 16px;
  padding-right: 16px;

  padding-top: 96px;
  padding-bottom: 96px;

  background-color: #2e2f42;
}
.footer-span {
  color: #f4f4fd;
}
.footer-container {
  text-align: center;
  /* margin-right: 120px; */
}
.container-wrap {
  /* width: 1158px; */
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
  /* display: flex; */
  align-items: baseline;
}
.footer-logo {
  text-align: center;
  display: block;
  /* display: inline-block; */
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  /* margin-right: 120px; */
}
.footer-text-wrap {
}
.footer-text {
  /* margin: 0 auto; */
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 72px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-network {
  /* margin-right: 80px; */
}
.footer-network-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-network-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-network-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-network-item:hover {
  background-color: #31d0aa;
}
:root {
  --maim-color: #4d5ae5;
}
.footer-link {
  background-color: var(--maim-color);
  fill: #f4f4fd;
  border-color: #4d5ae5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.network-icom {
}
.footer-list {
  display: flex;
  gap: 120px;
}
.form-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  /* margin-bottom: 72px; */
}
.footer-form {
  align-items: center;
  justify-content: center;
  gap: 24px;

  /* display: flex; */
  gap: 24px;
}
.footer-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 12px;
  /* width: 264px; */
  width: 100%;
  height: 40px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  padding-top: 8px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-form-button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.button-icon {
  margin-left: 16px;
}

/*               backdrop                      */

.backdrop {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  /* width: 408px; */
  min-width: 288px;
  /* min-height: 584px; */
  min-height: 623px;
  background-color: #fcfcfc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-circle {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.modal-circle:hover {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.modal-circle:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-icon {
  border-radius: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input::placeholder {
  font-size: 12px;
}
.label-wrap {
  margin-bottom: 8px;
}
.back-label {
  line-height: 1.17;
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-wrap-comment {
  margin-bottom: 16px;
}
.span-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  margin-bottom: 18px;
  outline: transparent;
  transition: border-color 300ms linear;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrap-checkbox {
  margin-bottom: 24px;
}
.span-text:focus {
  border-color: #4d5ae5;
}
.modal-check:checked + .check-text .label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  margin-bottom: 24px;
}
.check-link {
  color: #4d5ae5;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}
.label-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}
.modal-button {
  margin: 0 auto;
  border: none;
  display: block;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-item-title {
    text-align: left;
  }
  .advantages-item-text {
    max-width: 356px;
  }
  .advantages-list {
    gap: 72px 24px;
  }
  .team {
    padding: 96px 108px;
  }
  .team-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px 24px;
  }
  .team-list-item {
  }
  .team-wrap {
    margin-bottom: 0;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .wrap-footer {
    padding-left: 108px;
  }
  .footer {
    padding: 96px 0 96px 0;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-container-wrap {
    margin: 0 auto;

    display: flex;
    gap: 24px;
  }
  .footer-container {
  }
  .footer-text {
    text-align: left;
    width: 264px;
  }
  .footer-network {
    display: inline-block;
  }
  .footer-network-text {
    text-align: left;
  }
  .form-wrap {
    /* display: flex;
    gap: 0;
    position: absolute; */
  }
  .footer-form {
  }
  .form-text {
    text-align: left;
  }
  .container-wrap {
    padding-left: 108px;
  }
  .footer-form-button {
    margin-left: revert;
    align-items: center;
    justify-content: center;
  }
  .footer-form {
    display: flex;
    align-items: flex-end;
  }

  .footer-input {
    min-width: 264px;
    margin-bottom: 0;
    padding-left: 0;
  }
  .hero {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-11.jpg);

    padding: 112px 136px;
  }
  .hero-title {
    width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }
  .header {
  }
  .header-menu-list {
    display: flex;
  }
  .header-comtact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex-direction: column;
  }
  .header-container {
    padding: 0;
  }

  .header-comtact-link {
    font-size: 12px;
  }
  .header-button {
    display: none;
  }
  .classs {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-list {
    flex-wrap: nowrap;
  }
  .advantages-list-icon {
    /* width: calc((100% - 3 * 24px) / 4); */
  }
  .advantages-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages-item-title {
    font-weight: 500;
    font-size: 20px;
  }
  .advantages-item-text {
    max-width: 264px;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
  }
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list {
    row-gap: 72px;
  }
  .footer {
    /* padding-top: 100px;
    padding-bottom: 100px; */
  }
  .footer-container {
    margin-right: 120px;
  }
  .container-wrap {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  .footer-logo {
    display: inline-block;
    margin-right: 120px;
  }
  .footer-network {
    margin-right: 80px;
  }
  .form-text {
    margin-bottom: 16px;
  }
  .footer-form {
    display: flex;
  }
  .footer-input {
    width: 264px;
  }
  .hero {
    max-width: 100%;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-11.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
    font-size: 56px;
  }
  .header {
  }
  .header-container {
    padding: 0;
  }
  .header-comtact-list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
  }
  .header-comtact-link {
    font-size: 16px;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
